@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=latin-ext');
@font-face {
    font-family: 'Encode Sans Normal';
    src: url('../fonts/encode-sans/encodesansnormal-400-regular-webfont.woff2') format('woff2'),
         url('../fonts/encode-sans/encodesansnormal-400-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
html {
	font-family: 'Open Sans', Arial, sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body {
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Encode Sans Normal', 'Open Sans', Arial, sans-serif;
	color: #4b2e83;
}
a:link, a:visited {
	color: #0074bb;
}
a:hover, a:focus, a:active {
	color: #85754d;
}
img {
	max-width: 100%;
}
header {
	background: linear-gradient(white 50%, #e8e3d3);
}
main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1em 1em;
}
footer {
	background-color: #4b2e83;
	color: white;
	padding: 1em;
	text-align: center;
	border-top: 7px solid #d1d1d1;
}
footer a:link, footer a:visited {
	color: #b7a57a;
}
.skip-link:link, .skip-link:visited {
	position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}
.skip-link:focus, .skip-link:active {
	position: relative;
	overflow: visible;
	height: auto;
}
.uw-strip {
	background-color: #4b2e83;
	height: 41px;
	color: white;
	padding-top: 9px;
	box-shadow: 0 0 5px #d9d9d9;

}
.uw-strip a:link, .uwstrip a:visited {
	color: white;
}
.uw-strip p {
	margin: 0 auto;
	max-width: 1000px;
}
.uw-strip img {
	vertical-align: middle;
}
.sitename {
	max-width: 1000px;
	margin: 0 auto;
	padding: 1em;
}
.sitename h1 {
	font-size: 2em;
	text-transform: uppercase;
	margin: 0;
}
@media all and (min-width: 768px) {
	.sitename {
		padding: 2.5em 1em;
	}
	main, footer {
		padding: 2em 1em;
	}
}