/* Insert your styling here.
// Site title
// -------------------------*/

.uw-body {
    .uw-site-title {
        +p {
            position: absolute;
            top: -60px;
            color: #fff;
            line-height: 1.55;
            -webkit-font-smoothing: auto;
            margin-bottom: 30px;
            text-shadow: 1px 1px 5px rgba(0,0,0,.8);
        }
    }
}
@media only screen and (max-width: 767px) {
    .uw-body {
        .uw-site-title {
            padding-right: 75px;
        }
    }
}
/* some exceptions for site-title and site-slogan*/ 
.front {
    .uw-body {
        .uw-site-title {
            +p {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .uw-body {
        .uw-site-title {
            +p {
                display: none;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .front {
        .uw-body {
            >.row {
                margin-top: -30px;
                background-color: #fff;
            }
            .uw-site-title {
                display: none;
            }
        }
    }
}

/* Breadcrumbs
/* -------------------------*/
.uw-breadcrumbs {
    span {
        padding-top: 0;
    }
}
/* Page header
// -------------------------*/
.page-header {
    margin: 29px 0 14.5px;
    border-bottom: 0;
}

/* Sidebar
// -------------------------*/
.uw-sidebar {
    .region:not(:last-child) {
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 992px) {
    .uw-sidebar { 
        .region {
            padding-top: 30px;
        }
    }
}

/* Mobile menu
// -------------------------*/
nav#mobile-relative {
    /* hide the submenu dropdowns on the rendering of $primary_nav*/ 
    .navbar-nav {
        .dawgdrops-menu {
            display: none;
            
            position: relative;
            -webkit-box-shadow: none;
            box-shadow: none;
            top: 0;
            border-top: none;
            li {
                background-color: inherit;
                a {
                    background-color: inherit;
                    color: #5a5a5a;
                    border-left: none;
                    padding-left: 35px;
                    padding-top: 10;
                    padding-bottom:10;
                }  
            }
        }
        .dawgdrops-item {
            a {
                font-weight: 400;
                text-transform: none;
                &:after {
                    background: none;
                }
            }
            .dawgdrops-item-menu-link {
                display: block;
                float: right;
                z-index: 1;
                font-family: "Encode Sans Compressed", sans-serif;
                font-size: 60%;
                cursor: pointer;
                text-transform: uppercase;
                background: url(assets/svg/caret.svg) no-repeat 33px 35px;
                &:before {
                  display: inline-block;
                  content: "";
                  position: absolute;
                  right: 50px;
                  top: 12px;
                  width: 20px;
                  height: 30px;
                  background: url(assets/svg/uw-sprite.svg) no-repeat -600px 0 transparent;
                }
            }
            a.dawgdrops-item-menu-link {
            }
        }
    }

}

.not-front {
    nav#mobile-relative {
        .navbar-nav {
            width: inherit;
        }
    }
}

@media only screen and (max-width: 768px) {
    nav#mobile-relative {
        button.uw-mobile-menu-toggle {
            margin-top: -55px;
            margin-right: 0;
        }
    }
}

/* Content
// -------------------------
// path fix from uw.body-content.less*/
a.more {
    &:after {
        background: url(assets/svg/uw-sprite.svg) no-repeat -206px -492px;
    }
}
/* path fix from uw.body-content.less*/
span.next-page {
    a {
        &:after {
            background: url(assets/svg/uw-sprite.svg) no-repeat -206px -492px;
      }
    }
}
/* path fix from uw.body-content.less*/
.links {
    a {
        &:after {
            background: url(assets/svg/uw-sprite.svg) no-repeat -206px -492px;
        }
    }
}
p.intro {
	font-family: "Encode Sans Compressed", sans-serif;
}
.group-tags { 
    text-align:center;
}
.group-tags div.field-type-taxonomy-term-reference {
   display:inline-block; 
}
.group-tags div.field-type-taxonomy-term-reference .field-item{
    display:inline-block; 
	color:#fff;
	background-color:#4b2f92;
	font-size:15px;
	padding:12px;
	margin-left:12px;
	margin-right:12px;
	margin-top:4px;
	border-radius:12px;
}
.group-tags div.field-name-field-drupal-version.field-type-taxonomy-term-reference .field-item{
	background-color:#b6a579;
	background-color:#85754d;
}
.group-tags div.field-name-field-site-type.field-type-taxonomy-term-reference .field-item{
	background-color:#4b2f92;
}
.group-tags div.field-name-field-audience.field-type-taxonomy-term-reference .field-item{
	background-color:#000;
}
.group-tags div.field-name-field-base-theme.field-type-taxonomy-term-reference .field-item{
	background-color:#d9d9d9;
}
.group-tags div.field-type-taxonomy-term-reference .field-item a:link,
.group-tags div.field-type-taxonomy-term-reference .field-item a:visited{
	color:#fff;
}
.group-tags div.field-name-field-base-theme.field-type-taxonomy-term-reference .field-item a:link,
.group-tags div.field-name-field-base-theme.field-type-taxonomy-term-reference .field-item a:visited{
	color:#000;
/* form elements*/
// -------------------------
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    left: 20px;
    z-index: 999;
}
.table-striped > tbody > tr {
    .checkbox,
    .radio {
        &.disabled {
            color: @darkgray;
        }
    }
}
.form-text,
.form-textarea,
.form-select,
.form-file {
    border-radius: 0;
    color: #595959;
}
.form-submit {
    border-radius: 0;
}

/* views styles*/

.views-exposed-form .checkbox input[type="checkbox"] {
	left:0;
	width:0;
	height:0;
}
.views-exposed-form {
	display: flex;
	flex-wrap:wrap;
}
div.views-exposed-widget .checkbox,
div.views-exposed-widget span.icons {
	display:none;
	padding:0;
}
div.views-exposed-widget {
	display: flex;
	width:100%;
	justify-content:center;
}
.views-exposed-form .views-exposed-widget {
	margin-bottom:20px;
}
.views-exposed-form .views-exposed-widget.views-submit-button{
	display:block;
	margin:0;
}
.views-exposed-form .views-exposed-widget.views-widget-filter-field_site_type_tid{
	margin-bottom:0px;
}
.views-exposed-form .views-exposed-widget legend,
.views-exposed-form .views-exposed-widget label{
	font-family: "Encode Sans Compressed", sans-serif;
}
.views-exposed-form .views-exposed-widget label.control-label {
	display:inline-block;
}
.views-exposed-form .views-exposed-widget label.option {
	font-size:18px;
	font-family: "Encode Sans Compressed", sans-serif;
}
.views-exposed-form .views-exposed-widget .views-widget label.option {
	color:#fff;
	font-size:15px;
	background-color:#4b2f92;
	padding:12px;
	margin-top:4px;
	border-radius:12px;
}
.view-showcase .views-exposed-form .checkbox .icons{
	top:6px;
	height:80px;
}
/*.views-exposed-form .views-exposed-widget taxonomy vocab-specific styles*/
.views-exposed-form .views-exposed-widgets {
	width:100%;
}
.views-exposed-form .views-exposed-widgets .views-widget{
	width:100%;
}
.views-exposed-form .views-exposed-widget .views-widget .form-item-field-audience-tid label.option {
	background-color:#000;
}
.views-exposed-form .views-exposed-widget .views-widget .checked label.option {
	background-color:#ccc;
}
.views-exposed-form .views-exposed-widget .views-widget .form-item-field-drupal-version-tid label.option {
	background-color:#b6a579;
}
.views-exposed-form .views-exposed-widget .views-widget .form-item-field-drupal-version-tid .checked label.option {
	background-color:#ccc;
}
.views-exposed-form .views-exposed-widget .form-control{
	display: flex;
	justify-content:center;
}
.views-exposed-form .views-exposed-widget .form-control{
	border:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	padding:0;
}
.view-showcase #views-exposed-form-showcase-page .views-exposed-widget .form-item{
	display: inline;
}
