includes:
  - phpstan-baseline.neon
parameters:
  level: 6
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: false
  paths:
    - .
  strictRules:
    disallowedLooseComparison: false
    dynamicCallOnStaticMethod: false
    strictFunctionCalls: false
  fileExtensions:
    - php
    - module
    - theme
    - profile
    - install
    - inc
  ignoreErrors:
    - "#^Unsafe usage of new static#"
    - "#does not call parent constructor#"
    -
      identifier: missingType.iterableValue
  excludePaths:
    # We cant improve this directory as its contains Drupal-generic code.
    - vendor (?)
